.container_o {
	text-align: left
	width: 100%;
	background: #fff;
	padding: 25px 0;
	}
	
.container_canvas {
	text-align: center;
	}
.canvas_v {
	margin: auto;
	background: #fff;
	border: 1px solid #000;
	}