app.yaml
app.yaml.local
media/static/version.txt

*.pyc
*~
.DS_Store
.gaedata
webapp/deploy_data.py

agency
clique
flickrapi
greeter
guardian
mmm
qwiki
recipeer
rsa
scapi
slideshare
sloganeer
whistling
